name: Create Image and Push to Production

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  check_secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Check required secrets
        run: |
          REQUIRED_SECRETS=(EXPOSED_PORT INTERNAL_PORT DOCKER_REPO SERVER_IP SSH_PRIVATE_KEY DOCKER_USERNAME DOCKER_PASSWORD)
          for SECRET in "${REQUIRED_SECRETS[@]}"; do
            if [[ -z "${{ secrets.$SECRET }}" ]]; then
              echo "âŒ Missing required secret: $SECRET"
              exit 1
            fi
          done

  build:
    runs-on: ubuntu-latest
    needs: check_secrets

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract tag name
        id: get_tag
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ env.TAG_NAME }}"
          docker build -t "${IMAGE_NAME}" .

      - name: Push Docker image to Docker Hub
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_REPO }}/${{ github.event.repository.name }}:${{ env.TAG_NAME }}"
          docker push "${IMAGE_NAME}"

  deploy:
    runs-on: ubuntu-latest
    needs: [build, check_secrets]

    steps:
      - name: Prepare environment variables
        run: |
          echo "" > .env.temp
          for VAR in $(printenv | grep '^APP_' | cut -d= -f1); do
            echo "$VAR=${!VAR}" >> .env.temp
          done

      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            TAG_NAME="${GITHUB_REF#refs/tags/}"
            IMAGE_NAME="${{ secrets.DOCKER_REPO }}/${{ github.event.repository.name }}:${TAG_NAME}"
            CONTAINER_NAME="$(basename "${{ github.event.repository.name }}")"
            EXPOSED_PORT="${{ secrets.EXPOSED_PORT }}"
            INTERNAL_PORT="${{ secrets.INTERNAL_PORT }}"

            docker pull "${IMAGE_NAME}"
            docker stop "$CONTAINER_NAME" || true
            docker rm "$CONTAINER_NAME" || true

            docker run -d \
              --restart unless-stopped \
              -p "$EXPOSED_PORT:$INTERNAL_PORT" \
              --name "$CONTAINER_NAME" \
              --env-file .env.temp \
              "${IMAGE_NAME}"

